::-webkit-scrollbar {
  display: none;
}
.playlist-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.videoIcon {
  opacity: 1;
  animation: fadeInAnimation forwards 3s;
}
.container {
  width: 100vw;
  min-height: 100vh;
}
.video-container {
  width: 60%;
}
.playlists-container {
  width: 35%;
}
.app-layout {
  height: 80vh;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.search-input:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .app-layout {
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }
  .video-container {
    width: 100%;
  }
  .container {
    width: 100vw;
    height: 100%;
  }
  .playlists-container {
    width: 100%;
  }
}
